.back {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;

    display: none;
    flex-direction: row-reverse;

    width: 100vw;
    height: 100vh;

    background-color: #292828bb;
}

.show {
    display: flex;
}

.sidebar {
    width: 100%;
    max-width: 320px;

    height: 100%;
    padding: 64px 16px 32px;

    background-color: #ffffff;
}

.sidebar .close {
    position: absolute;
    top: 15px;
    right: 12px;

    width: 50px;
    height: 50px;

    font-size: 40px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #000000;
}

.sidebar-items {
    padding: 10px;
    width: 100%;
    height: 100%;
}

.sidebar-items .sidebar-item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 60px;

    font-size: 24px;
}

.sidebar-item a {
    color: #df4242;
    cursor: pointer;
}

