.signUpPage {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    min-height: calc(100vh - 80px);
    padding : 15px;

}

.signUpCard {
    height: 650px;

}

.signUpForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    
    width:100%;
    height: calc(100%-38px);
  
    

}


.formGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formInputCon {
    display: flex;
    flex-direction:column;

    
    color: #494949;
}

.formLabel {
    font-size: 15px;
    margin-bottom: 5px;
}

.formInput {
    width: 100%;
    height: 4SSpx;
    padding: 16px;

    border: 1px solid #d6d6d6;
    border-radius: 6px;
    font-size: 15px;
    color: #494949;
}

Button {
    width: 100%;
    height: 40px;

   margin-top: 20px;

    background-color: #df4242;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}


button:hover {
    background-color: #bb3e3e;;
}

.loginLink {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 13px;
    color: #df4242;
}